body {
    color: white;
    margin: 0;
    font-family: "Merriweather Sans";
    background-image: url("https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png")
}

input {
    margin: 0 5px 0 5px;
}

#name {
    font-size: 28px;
}



.top-container {
    display:flex;
    flex-direction: column;
    text-align: center;
}

.left-container {
    text-align: left;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    padding: 50px;
    margin-left: 60px;
    margin-right: 500px;
    max-width:500px;
}

.right-container{
    font-size: 28px;
    display: flex;
    text-align: left;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    padding: 50px;
    max-width: 300px;
    margin: auto;
    position: absolute;
    top: 180px;
    right: 200px;
}

img {
    border-radius: 50%;
    border: 5px solid #555;
}

#powerstats {
    font-size: 24px;
}

#label {
    margin-right: 15px;
}
@media only screen and (max-width: 1100px) {
    body {
      flex-direction: column;
      display: flex;
      justify-content: center;
      margin: auto;
    }

    .right-container {
        display:flex;
        justify-content: center;
        position: relative;
        padding: 0;
        margin: -200px 0 0 600px;
    }
  }