body {
    color: #40514e;
    margin: 0;
    font-family: "Merriweather Sans";
    
}

.top-container {
    display:flex;
    flex-direction: column;
    text-align: center;
}

.left-container {
    text-align: left;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    padding: 50px;
    margin-left: 60px;
    margin-right: 500px;
    max-width:500px;

}

.right-container{
    display: flex;
    background-color: pink;
    text-align: left;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    padding: 50px;
    max-width: 300px;
    margin: auto;
}

img {
    border-radius: 50%;
    border: 5px solid #555;
}

