body {
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
    font-family: "Merriweather Sans";
}

.container{
    background-color: blue;
    
    flex-direction: column;
    align-content: center;
}
